.quntityAddBtnDiv {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  //   border: 1px solid;

  & > label {
    text-align: center;

    & > input {
      max-width: 80%;
    }
  }
}
